html, body{
    .box{
        width: 220px;
        height: 220px;
        background: url(../images/fighting.jpg);
        background-size: cover;
    }
    .box2{
        width: 220px;
        height: 220px;
        background: url(../images2/fighting.jpg);
        background-size: cover;
    }
}