<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../Day1/code/lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstname"> +
        <input type="text" v-model="lastname"> =
        <input type="text" v-model="fullname"> 
        <p>{{ fullname }}</p>
        <p>{{ fullname }}</p>
        <p>{{ fullname }}</p>
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                firstname: '',
                lastname: ''
            },
            methods:{
            },
            computed: {
                'fullname': function () { //未改变 firstname 和 lastname时fullname已经缓存好，再使用时不用重新调用computed里的函数，效率提高
                    console.log('ok')
                   return  fullname = this.firstname + "-" + this.lastname
                   
                }
            }
        })
    </script>
</body>
</html>